/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Nguyen Ngoc Han
ID: s3963227
Acknowledgement:
- Books information and images: https://bookshop.org/categories/m/fiction
- About us video: https://www.youtube.com/watch?v=AcfM9Z9MbXI
- Icon: https://fontawesome.com/ */

/* == General style for pages starts ======================================================= */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    --heading-font: 30px;
    --small-heading-font: 20px;
    --p-font: 1.2rem;
    --title-font-size: 4.5rem;
    --small-title-font: 3rem;
    --text-color: #000;
    --bg-color: #fff;
    --theme-color:#FEF5ED;
    --span-color: #ce7852;
    --light-span-color: #e68359;
    --header-color: #d38f42;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 5px 18%;
}

/* Header when scroll */
header.sticky{
    background-color: var(--header-color);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
}
.logo img{
    height: 90px;
}
header.sticky .logo img{
    height:60px;
}

/* Navigation bar */
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    text-transform: uppercase;
}
/* Navbar a element when hover */
.navbar a:hover{
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);
}

/* Menu bar not display on window > 960px */
#menu-icon{
    font-size: 20px;
    z-index: 10001;
    cursor:pointer;
    display: none;
}

/* img zoom on hover */
img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.sub-img img:hover{
    transition: 0.5s;
    transform: scale(1.5);
}
.logo img:hover{
    transform:none;
    transition: none;
}
.view-btn:hover{
    transform: scale(1.1);
    transition: none;
}

/* footer */
.footer{
    padding: 10px 18%;
    background-color: var(--header-color);
}

.footer iframe{
    width:300px;
    height:200px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 5rem;
}
.footer .box-container .box h3{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: var(--orange);
    text-transform: uppercase;
}
.footer .box-container .box p{
    font-size: 1rem;
    color: #333;
    text-transform: none;
}
.footer .box-container .box a{
    font-size: 1rem;
    padding: 0.7rem 0;
    color: #eee;
    display: block;
}
.footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
}
.footer .logo img{
    height: 200px;
}
/* == General style for pages ends ======================================================= */

/* == Home page start ======================================================= */
.home{
    padding: 80px 18%;
    position:relative;
    width: 100%;
    min-height: 90vh;
    background: url(../img/home-background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1,1fr); /**1FR = 1/2 available space*/
    align-items: center;
}
.overlay-text h1{
    font-size: var(--title-font-size);
}
span{
    color: var(--span-color);
}

/* shop and view button style */
.shop-btn,
.view-btn{
    color: var(--text-color);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 30px;
    margin-top:30px;
    text-transform: uppercase;
    align-items: center;
}
.view-btn{
    color: var(--span-color);
    text-decoration: underline;
}
.shop-btn img,
.view-btn img{
    height: 16px;
    margin-left: 0.5rem;
}

/* Store each category */
.category-box{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    position:relative;
}
/* even box will have different color */
.category-box:nth-child(even){
    background: var(--theme-color);
}
.heading{
    font-size: var(--heading-font);
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom:2rem;
}
/* create grid layout */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 200px;
    row-gap: 50px;
}
.grid-item{
    text-align: center;
    width: 300px;
}
.grid-item a{
    color:var(--text-color);
}
.grid-item span{
    color: red;
    text-decoration: line-through;
}
.grid-item img{
    margin: 15px 0;
    box-shadow: 0 0 0.7rem rgba(0,0,0,.6);
}

/* box holds book in more category */
.box a{
    color: var(--text-color)
}
.box img{
    height: 200px;
}
/* == Homepage page ends ======================================================= */


/* == Category page start ======================================================= */
/* grid layout, 2 columns */
#category-content{
    display: grid;
    grid-template-columns: 350px auto ;
    padding: 20px 18%;
} 
/* Banner */
#category-banner{
    background: url(../img/category-banner.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/* Search bar */
.search-bar-container{
    margin-top: 20px;
    width: 400px;
}
.search-bar{
    padding: 0 5px 0 15px;
    display: flex;
    align-items: center;
    height: 40px;
    background: rgba(122, 119, 119, 0.2);
    border-radius: 30px;
}
.search-bar input,
.search-bar button{
    border:none;
}
.search-bar input{
    flex: 1;
    background: transparent;
    outline:none;
}
.search-bar button{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: var(--span-color);
}

/* Left side bar content - Product category  */
.category-list{
    width: 300px;
}
.category-list li{
    border-bottom: dashed 1px lightgray;
    padding: 10px 0;
}
.category-list a{
    color:#000;
}
.category-list h3{
    text-transform: uppercase;
    border-bottom: solid 1px #000;
    padding: 10px 0;
}
.category-list li span{
    float: right;
}
/* Product category sublist  */
.category-sublist{
    display:none;
}
.category-sublist li{
    text-indent: 15px;
}
.category-sublist li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.category-list li:hover .category-sublist{
    display: block;
    font-size: 14px;
    font-style: italic;
} 

/* Right side content */
.right-side-content .category-box{
    margin-left: 7rem;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.right-side-content .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    margin-top: 1.5rem;
}
.right-side-content .grid-item{
    text-align: center;
    width: 250px;
}
.display-info{
    margin-left: 4rem;
    padding: 10px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
}
.display-info span{
    color:#000;
    padding-right: 6px;
}
#sort-select{
    color:#898888;
    border: 1px solid #e1e1e1;
    padding: 0 10px;
}
/*== Category page ends ======================================================= */

/*== Bookdetail page start =======================================================*/
/* video */
.banner video{
    padding: 1rem 0;
    width: 100%;
    height: 80vh;
    background-color: var(--theme-color);
}

/* breadcrumb */
.breadcrumb{
    display: flex;
    align-items: center;
    margin: 20px 18% 0;
    height: 40px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.breadcrumb a{
    color: #000;
}
.breadcrumb a:nth-child(-n+3){
    font-weight: bolder;
}
.content-container{
    padding: 20px 18%;
    display: flex;
    margin-bottom: 20px;;
}

/* main img  */
.main-img img{
    width: 250px;
    box-shadow: 0 0 0.7rem rgba(0,0,0,.6);
}
/* 3 small img on right */
.sub-img{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.sub-img img{
    height: 105px;
    margin: 10px 0 10px 20px;
    box-shadow: 0 0 0.7rem rgba(0,0,0,.6);
}

/* text on right */
.text-container{
    margin-left: 100px;
}
.text-container span{
    color: red;
    text-decoration: line-through;
    padding-right: 10px;
}
.status-bar{
    margin: 5px 0;
}
/* Quantity input and add to cart feature */
#quantity{
    border: 1px solid #ebebeb;
    color: #616161;
    font-size: 14px;
    height: 40px;
    text-align: center;
    width: 50px;
    margin: 0 15px 15px 5px;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-btn{
    background:var(--span-color);
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    cursor:pointer;
    padding: 0 25px;
    color: #fff;
}
.cart-btn i{
    font-size: 16px;
    margin-right: 5px;
    
}
.cart-btn:hover,
.btn-container button:hover{
    background: var(--light-span-color)
}
/* Description text */
.text p{
    text-align: justify;
    margin: 10px 0;
}
/*== Book detail page ends =======================================================*/

/*== Contact page starts =======================================================*/
#contact-us-bg{
    background: url(../img/contact-us-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

#contact-content{
    padding: 20px 18%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 150px;
    margin-top:20px;
}

#contact-content h1{
    color: var(--span-color);
    font-size: var(--heading-font);
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}

/* Left side content */
#contact-content .left-side-content{
    width: 500px;
}
/* Form style */
.form-container label,
.form-container p,
#contact-content .right-side-content h3{
    font-weight: 600;
}
::-webkit-input-placeholder {
   font-style: italic;
}
.form-container input,
.form-container select{
    width: 500px;
    margin-bottom: 20px;
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #d1caca;
}
.preference input{
    width: 20px;
    padding: 0;
}
.preference .normal-text{
    font-weight: normal;
}
.preference p{
    margin-bottom: 10px;
}
textarea{
    border: 1px solid #d1caca;
    border-radius: 5px;
    outline: none;
    padding: 3px 0 0 5px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn-container button{
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    background: var(--span-color);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    margin: 10px 20px 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

/* right side content */
#contact-content .right-side-content{
    background: #ffeae0;
    padding: 20px 40px;
    border-radius: 20px;
    height: fit-content;
}
#contact-content .right-side-content i{
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background: var(--span-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
#contact-content .contact-info .row{
    display: flex;
}
#contact-content .text-container{
    margin: 0 0 30px 15px;
}

.text-container iframe{
    width:450px;
    height:300px;
}
/*== Contact page ends =======================================================*/





